##########################
# Deployer private key
##########################
DEPLOYER_PRIVATE_KEY=0x0


##########################
# Privileged accounts
##########################
CHAIN_OWNER_ADDRESS=0x0
BATCH_POSTER_ADDRESS=0x0
STAKER_ADDRESS=0x0


############################
# Arbitrum chain information
############################
PARENT_CHAIN_ID=421614
# If empty, the default from viem will be used
PARENT_CHAIN_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
# If empty, a random chain id will be generated
ARBITRUM_CHAIN_ID=
# If empty "Arbitrum chain" will be used as the default name
ARBITRUM_CHAIN_NAME=
# Whether to deploy the proxy factories to L2
DEPLOY_FACTORIES_TO_L2=true
# Address of the native token in the parent chain
NATIVE_TOKEN_ADDRESS=
# Setting this to `false` will create a Rollup chain. Setting it to `true` creates an Anytrust chain.
USE_ANYTRUST=false
# Only used if USE_ANYTRUST is true
DAS_LOCAL_STORAGE='chainDasData'
# If `true`, genesis.json file should be in the `chainConfig` folder
USE_GENESIS_FILE=false


##########################
# Retryable's gas configuration
# Note: these values are used to hardcode the gas price and increase percentage for retryable transactions sent while transferring ownership to the chain owner
##########################
MAX_GAS_PRICE=200000000 # 0.2 gwei (2 * default minimum base fee)
BUFFER_INCREASE_PERCENTAGE=30 # Buffer percentage to apply to the estimated gas limit and submission cost



#########################
#########################
# Note: the variables in the sections below are used only on specific scenarios, and can be left empty in most cases.
#########################
#########################



##########################
# Custom parent chain information
# Note: The following variables are used only if the parent chain is not supported out of the box by the Arbitrum Chain SDK
# Supported chains can be found here: https://github.com/OffchainLabs/arbitrum-chain-sdk/blob/main/src/chains.ts#L150-L166
##########################
# ROLLUPCREATOR_FACTORY_ADDRESS=
# TOKENBRIDGECREATOR_FACTORY_ADDRESS=
# WETH_ADDRESS=
# CHAIN_MAX_DATA_SIZE=104857 # should be 104857 for L3s and 117964 for L2s


##########################
# Nitro node configuration
# Note: Only used when running the node through this repository
##########################
# NITRO_DOCKER_IMAGE_TAG="offchainlabs/nitro-node:v3.9.7-75e084e"
# NITRO_RPC_URL="http://localhost"
# NITRO_PORT=8449

# Parent chain beacon node RPC URL, only needed if the parent chain is an L1
# PARENT_CHAIN_BEACON_RPC_URL=

# Whether to split the Nitro node into one batch-poster, one staker, and one rpc node
# If set to false, a single Nitro node will handle all three roles
# SPLIT_NODES=false

# Configures the node to not wait for finalized blocks on the parent chain to sequence
# delayed messages or read information from the parent chain.
# DISABLE_L1_FINALITY=true

# Configures the node to post batches and make assertions every minute
# USE_FAST_L1_POSTING=true

# Private keys
# Note: these accounts must be configured in the chain through the BATCH_POSTER_ADDRESS and STAKER_ADDRESS variables
# BATCH_POSTER_PRIVATE_KEY=0x0
# STAKER_PRIVATE_KEY=0x0


##########################
# Other constants
##########################
# Amount of ETH to fund the batch poster and staker in the parent chain, and the chain owner in the Arbitrum chain
# FUNDING_AMOUNT=0.1


##########################
# Blockscout
##########################
# Enabled in http://localhost
# ENABLE_BLOCKSCOUT=false

# Package links (to verify latest versions):
#   - Blockscout core: https://github.com/blockscout/blockscout/pkgs/container/blockscout-arbitrum
#   - Frontend: https://github.com/blockscout/blockscout/pkgs/container/frontend
#   - Stats: https://github.com/blockscout/blockscout/pkgs/container/stats
#   - Visualizer: https://github.com/blockscout/blockscout/pkgs/container/visualizer
#   - Sig-provider: https://github.com/blockscout/blockscout/pkgs/container/sig-provider
#   - Smart contract verifier: https://github.com/blockscout/blockscout/pkgs/container/smart-contract-verifier
# DOCKER_TAG=v9.0.1
# FRONTEND_DOCKER_TAG=v2.2.1
# STATS_DOCKER_TAG=v2.9.2
# VISUALIZER_DOCKER_TAG=v0.2.1
# SIG_PROVIDER_DOCKER_TAG=v1.1.1
# SMART_CONTRACT_VERIFIER_DOCKER_TAG=v1.10.0



##########################
##########################
# For RollupCreator and TokenBridgeCreator factory deployment
# Note: there's no need to change these values, with the exception of MAX_DATA_SIZE and BASECHAIN_WETH
#       MAX_DATA_SIZE should be 104857 for L3s and 117964 for L2s
#       BASECHAIN_WETH should be set to the WETH address of the parent chain
##########################
##########################

# For RollupCreator factory deployment
# FACTORY_OWNER="0x000000000000000000000000000000000000dead"
# CUSTOM_RPC_URL=${PARENT_CHAIN_RPC_URL}
# CUSTOM_PRIVKEY=${DEPLOYER_PRIVATE_KEY}
# MAX_DATA_SIZE=104857
# DISABLE_VERIFICATION=true

# For TokenBridgeCreator factory deployment
# BASECHAIN_RPC=${PARENT_CHAIN_RPC_URL}
# BASECHAIN_DEPLOYER_KEY=${DEPLOYER_PRIVATE_KEY}
# BASECHAIN_WETH=${WETH_ADDRESS}
# GAS_LIMIT_FOR_L2_FACTORY_DEPLOYMENT=6000000
# ARBISCAN_API_KEY=
